@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
/*
 * Colour palette:
 * #ffffff -- light
 * #010025 -- dark
 * #ea485d -- red
 * #ff9138 -- orange
 * #ffeb98 -- yellow
 * #00cfea -- blue
 *
 * Reference: https://howdns.works/
 */
:root {
  --light: #ffffff;
  --dark: #010025;
  --red: #ea485d;
  --orange: #ff9138;
  --yellow: #ffeb98;
  --blue: #00cfea;
}

main {
  width: 900px;
  margin: auto;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--dark);
  color: var(--light);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: "Roboto Condensed", sans-serif;
}

#banner,
#about,
#popular,
#swatches,
#cart,
#contact {
  min-height: 50vh;
}

#banner,
#about,
#cart,
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#banner,
#about {
  justify-content: center;
}

#cart,
#contact {
  justify-content: flex-start;
}

a {
  text-decoration: none;
  color: var(--blue);
}

a:hover {
  color: var(--red);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: var(--light);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav a {
  color: var(--red);
}

nav a:hover {
  color: var(--orange);
}

#popular {
  display: flex;
  justify-content: space-between;
}

.card:nth-child(2) {
  margin: 0 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid var(--light);
  width: 100%;
}

.card img {
  max-width: 100%;
}

.card p {
  padding: 0.5rem;
}

.swatches {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  padding: 1rem;
  background-color: #ffffff22;
  border-radius: 0.25rem;
}

.swatch {
  height: 120px;
  border-radius: 0.25rem;
}

.color-0 {
  background-color: #014239;
}

.color-1 {
  background-color: #724d9e;
}

.color-2 {
  background-color: #50e670;
}

.color-3 {
  background-color: #8bb9c3;
}

.color-4 {
  background-color: #4f857f;
}

.color-5 {
  background-color: #0a3549;
}

.color-6 {
  background-color: #e127f2;
}

.color-7 {
  background-color: #dc6fd5;
}

.color-8 {
  background-color: #7de154;
}

.color-9 {
  background-color: #dbbb4b;
}

.color-10 {
  background-color: #c87067;
}

.color-11 {
  background-color: #16d2bc;
}

.color-12 {
  background-color: #604d5e;
}

.color-13 {
  background-color: #569a0e;
}

.color-14 {
  background-color: #b16b47;
}

.color-15 {
  background-color: #a21568;
}

.color-16 {
  background-color: #5f4610;
}

.color-17 {
  background-color: #0e4e02;
}

.color-18 {
  background-color: #ba8690;
}

.color-19 {
  background-color: #0f8678;
}

.color-20 {
  background-color: #6c3c63;
}

.color-21 {
  background-color: #b22fa1;
}

.color-22 {
  background-color: #2f6281;
}

.color-23 {
  background-color: #ed8bbb;
}

.color-24 {
  background-color: #96fa18;
}

.color-25 {
  background-color: #1f8a10;
}

.color-26 {
  background-color: #dd2b25;
}

.color-27 {
  background-color: #50eee5;
}

.color-28 {
  background-color: #6d9997;
}

.color-29 {
  background-color: #8db5ce;
}

.color-30 {
  background-color: #897c10;
}

.color-31 {
  background-color: #2836d7;
}

.color-32 {
  background-color: #b9d77d;
}

.color-33 {
  background-color: #3890b7;
}

.color-34 {
  background-color: #1e4eb3;
}

.color-35 {
  background-color: #7f8b9c;
}

.color-36 {
  background-color: #3729db;
}

.color-37 {
  background-color: #42e596;
}

.color-38 {
  background-color: #16154e;
}

.color-39 {
  background-color: #e86ce3;
}

.color-40 {
  background-color: #edb343;
}

.color-41 {
  background-color: #d615ec;
}

.color-42 {
  background-color: #5a59fd;
}

.color-43 {
  background-color: #276ab6;
}

.color-44 {
  background-color: #aceca7;
}

.color-45 {
  background-color: #30c079;
}

.color-46 {
  background-color: #038ed6;
}

.color-47 {
  background-color: #8d640c;
}

.color-48 {
  background-color: #9f5191;
}

.color-49 {
  background-color: #607277;
}

.color-50 {
  background-color: #3b6051;
}

.color-51 {
  background-color: #bb6959;
}

.color-52 {
  background-color: #4d1e7e;
}

.color-53 {
  background-color: #6add2a;
}

.color-54 {
  background-color: #59fa77;
}

.color-55 {
  background-color: #a32931;
}

.color-56 {
  background-color: #b28479;
}

.color-57 {
  background-color: #ba5c81;
}

.color-58 {
  background-color: #e6aec5;
}

.color-59 {
  background-color: #f064e0;
}

.color-60 {
  background-color: #42abbb;
}

.color-61 {
  background-color: #405798;
}

.color-62 {
  background-color: #2610f4;
}

.color-63 {
  background-color: #bbae1b;
}

.color-64 {
  background-color: #f75b31;
}

.color-65 {
  background-color: #135ccc;
}

.color-66 {
  background-color: #23d384;
}

.color-67 {
  background-color: #42f80a;
}

.color-68 {
  background-color: #b35e6e;
}

.color-69 {
  background-color: #959085;
}

.color-70 {
  background-color: #dcd22b;
}

.color-71 {
  background-color: #af8b8e;
}

.color-72 {
  background-color: #560761;
}

.color-73 {
  background-color: #52dae3;
}

.color-74 {
  background-color: #2df0de;
}

.color-75 {
  background-color: #7ab26a;
}

.color-76 {
  background-color: #12a69f;
}

.color-77 {
  background-color: #6672af;
}

.color-78 {
  background-color: #920ac2;
}

.color-79 {
  background-color: #4b2498;
}

.color-80 {
  background-color: #ca2dd8;
}

.color-81 {
  background-color: #a75643;
}

.color-82 {
  background-color: #698510;
}

.color-83 {
  background-color: #e1cdec;
}

.color-84 {
  background-color: #67b140;
}

.color-85 {
  background-color: #d53178;
}

.color-86 {
  background-color: #7ae650;
}

.color-87 {
  background-color: #a650bc;
}

.color-88 {
  background-color: #b65569;
}

.color-89 {
  background-color: #caf4d8;
}

.color-90 {
  background-color: #8edc1f;
}

.color-91 {
  background-color: #4ae010;
}

.color-92 {
  background-color: #cbc518;
}

.color-93 {
  background-color: #4dc67a;
}

.color-94 {
  background-color: #18fcc1;
}

.color-95 {
  background-color: #8d3d53;
}

.color-96 {
  background-color: #d538ac;
}

.color-97 {
  background-color: #7d639b;
}

.color-98 {
  background-color: #45dd67;
}

.color-99 {
  background-color: #05ec76;
}

#items {
  font-weight: bold;
  padding-left: 1rem;
}

#items input {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

#items button {
  font-family: inherit;
  padding: 0.5rem 1rem;
}

#items li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

#total {
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 1rem;
}

form > input,
form > textarea {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

form button {
  font-family: inherit;
  padding: 0.5rem 1rem;
}

/*# sourceMappingURL=style.css.map */
