@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/*
 * Colour palette:
 * #ffffff -- light
 * #010025 -- dark
 * #ea485d -- red
 * #ff9138 -- orange
 * #ffeb98 -- yellow
 * #00cfea -- blue
 *
 * Reference: https://howdns.works/
 */

 :root {
  --light: #ffffff;
  --dark: #010025;
  --red: #ea485d;
  --orange: #ff9138;
  --yellow: #ffeb98;
  --blue: #00cfea;
}

main {
  width: 900px;
  margin: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--dark);
  color: var(--light);
}

a {
  text-decoration: none;
  color: var(--blue);
}

a:hover {
  color: var(--red);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: var(--light);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav a {
  color: var(--red);
}

nav a:hover {
  color: var(--orange);
}

#popular {
  display: flex;
  justify-content: space-between;
}

.card:nth-child(2) {
  margin: 0 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid var(--light);
}

.card img {
  max-width: 100%;
}

.swatches {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  padding: 1rem;
  background-color: #ffffff22;
}

.swatch {
  margin: 1px;
  height: 120px;
}

@for $n from 0 to 100 {
  .color-#{$n} {
    background-color: rgb(random(255), random(255), random(255));
  }
}
