@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
/*
 * Colour palette:
 * #ffffff -- light
 * #010025 -- dark
 * #ea485d -- red
 * #ff9138 -- orange
 * #ffeb98 -- yellow
 * #00cfea -- blue
 *
 * Reference: https://howdns.works/
 */
:root {
  --light: #ffffff;
  --dark: #010025;
  --red: #ea485d;
  --orange: #ff9138;
  --yellow: #ffeb98;
  --blue: #00cfea;
}

main {
  width: 900px;
  margin: auto;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--dark);
  color: var(--light);
}

a {
  text-decoration: none;
  color: var(--blue);
}

a:hover {
  color: var(--red);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: "Roboto Condensed", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: var(--light);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav a {
  color: var(--red);
}

nav a:hover {
  color: var(--orange);
}

#popular {
  display: flex;
  justify-content: space-between;
}

.card:nth-child(2) {
  margin: 0 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid var(--light);
  width: 100%;
}

.card img {
  max-width: 100%;
}

.card p {
  padding: 0.5rem;
}

.swatches {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  padding: 1rem;
  background-color: #ffffff22;
  border-radius: 0.25rem;
}

.swatch {
  height: 120px;
  border-radius: 0.25rem;
}

.color-0 {
  background-color: #e571ed;
}

.color-1 {
  background-color: #fe9be1;
}

.color-2 {
  background-color: #84da33;
}

.color-3 {
  background-color: #507c1f;
}

.color-4 {
  background-color: #9e46d8;
}

.color-5 {
  background-color: #2e0270;
}

.color-6 {
  background-color: #0ef6a4;
}

.color-7 {
  background-color: #ce5bc0;
}

.color-8 {
  background-color: #f6d682;
}

.color-9 {
  background-color: #d0ea46;
}

.color-10 {
  background-color: #56a290;
}

.color-11 {
  background-color: #a27226;
}

.color-12 {
  background-color: #d72057;
}

.color-13 {
  background-color: #e86867;
}

.color-14 {
  background-color: #989569;
}

.color-15 {
  background-color: #7a46e1;
}

.color-16 {
  background-color: #96e562;
}

.color-17 {
  background-color: #5c8434;
}

.color-18 {
  background-color: #35f7d6;
}

.color-19 {
  background-color: #7e6ad2;
}

.color-20 {
  background-color: #eb5737;
}

.color-21 {
  background-color: #aca00e;
}

.color-22 {
  background-color: #bbc50a;
}

.color-23 {
  background-color: #6c65ae;
}

.color-24 {
  background-color: #497e76;
}

.color-25 {
  background-color: #87b89f;
}

.color-26 {
  background-color: #150315;
}

.color-27 {
  background-color: #e918d0;
}

.color-28 {
  background-color: #31b074;
}

.color-29 {
  background-color: #806738;
}

.color-30 {
  background-color: #3b863b;
}

.color-31 {
  background-color: #aa9fd4;
}

.color-32 {
  background-color: #47ffa6;
}

.color-33 {
  background-color: #05ba56;
}

.color-34 {
  background-color: #e1ca82;
}

.color-35 {
  background-color: #8fa513;
}

.color-36 {
  background-color: #4f3c03;
}

.color-37 {
  background-color: #2626ac;
}

.color-38 {
  background-color: #d9b769;
}

.color-39 {
  background-color: #f8da99;
}

.color-40 {
  background-color: #08a2b2;
}

.color-41 {
  background-color: #1e9b52;
}

.color-42 {
  background-color: #989d94;
}

.color-43 {
  background-color: #a9fc28;
}

.color-44 {
  background-color: #cc1a40;
}

.color-45 {
  background-color: #522b24;
}

.color-46 {
  background-color: #b7dd8a;
}

.color-47 {
  background-color: #8fe0d6;
}

.color-48 {
  background-color: #dabc24;
}

.color-49 {
  background-color: #6bc3f0;
}

.color-50 {
  background-color: #c304c5;
}

.color-51 {
  background-color: #ab8e25;
}

.color-52 {
  background-color: #c848c5;
}

.color-53 {
  background-color: #29ad90;
}

.color-54 {
  background-color: #9ff010;
}

.color-55 {
  background-color: #947bcf;
}

.color-56 {
  background-color: #c3f1dc;
}

.color-57 {
  background-color: #21b344;
}

.color-58 {
  background-color: #70e41c;
}

.color-59 {
  background-color: #6577f3;
}

.color-60 {
  background-color: #6081e3;
}

.color-61 {
  background-color: #e0a07d;
}

.color-62 {
  background-color: #8f5023;
}

.color-63 {
  background-color: #9a7722;
}

.color-64 {
  background-color: #4aa02f;
}

.color-65 {
  background-color: #6182c0;
}

.color-66 {
  background-color: #4cf1b4;
}

.color-67 {
  background-color: #80a977;
}

.color-68 {
  background-color: #418bba;
}

.color-69 {
  background-color: #e4318c;
}

.color-70 {
  background-color: #6fb4a5;
}

.color-71 {
  background-color: #1341a5;
}

.color-72 {
  background-color: #4906e5;
}

.color-73 {
  background-color: #86029f;
}

.color-74 {
  background-color: #0e6211;
}

.color-75 {
  background-color: #20f144;
}

.color-76 {
  background-color: #3c437f;
}

.color-77 {
  background-color: #3ce9ca;
}

.color-78 {
  background-color: #14fa28;
}

.color-79 {
  background-color: #60a4b1;
}

.color-80 {
  background-color: #1b18af;
}

.color-81 {
  background-color: #8ea488;
}

.color-82 {
  background-color: #6ba50d;
}

.color-83 {
  background-color: #de21ba;
}

.color-84 {
  background-color: #480b0e;
}

.color-85 {
  background-color: #da287e;
}

.color-86 {
  background-color: #c4114a;
}

.color-87 {
  background-color: #4c5375;
}

.color-88 {
  background-color: #6eb969;
}

.color-89 {
  background-color: #bba774;
}

.color-90 {
  background-color: #6a222e;
}

.color-91 {
  background-color: #559d28;
}

.color-92 {
  background-color: #87d1d4;
}

.color-93 {
  background-color: #5a1bcc;
}

.color-94 {
  background-color: #ee70ce;
}

.color-95 {
  background-color: #d0fecc;
}

.color-96 {
  background-color: #522c20;
}

.color-97 {
  background-color: #8562f7;
}

.color-98 {
  background-color: #b7556a;
}

.color-99 {
  background-color: #a02a4d;
}

#items {
  padding-left: 1rem;
}

#items input {
  padding: 0.5rem 1rem;
}

#items button {
  font-family: inherit;
  padding: 0.5rem 1rem;
}

#items li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

#total {
  font-size: 2rem;
}

/*# sourceMappingURL=style.css.map */
